<header>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link  text-info" routerLink="/product">PRODUCTS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link  text-info" routerLink="/user">USERS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link  text-info" routerLink="/login">LOGIN</a>
    </li>
    <li class="nav-item">
      <a class="nav-link  text-info" routerLink="/students">STUDENTS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link  text-info" routerLink="/posts">POSTS</a>
    </li>
  </ul>
</header>
